@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.youtube.com/watch?v=DEgPwoIiB9I&ab_channel=SpeeD">SUPRAA</a>
    <strong>Clica aqui</strong> <a href="https://www.youtube.com/watch?v=pqA4l4UPPcU">Entra aqui</a>
</address>